h1 {
	font-family: "Dosis", sans-serif;
	font-size: 100px;
	text-align: center;
}

p {
	font-family: "Poppins",sans-serif;
	font-size: 35px;
	text-align: center;
}

h2{
	font-family: "Dosis", sans-serif;
	font-size: : 75px;
	text-align: right;
}
h3 {
	font-family: "Dosis", sans-serif;
	font-size: : 75px;
	text-align: right;
}