h1 {
	font-family: "Dosis", sans-serif;
	font-size: 100px;
	text-align: center;
	color: white;
}

p {
	font-family: "Sanchez",sans-serif;
	font-size: 35px;
	text-align: center;
	color: white;
}

h2{
	font-family: "Sanchez", sans-serif;
	font-size: 75px;
	text-align: center;
	color: white;
}
h3 {
	font-family: "Sanchez", sans-serif;
	font-size: 75px;
	text-align: center;
	color: white;
}